@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1 {font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color:brown;
    margin-top:auto;
    margin-left: 200px;
    margin-right:200px;
    text-align: center;
    font-size: 48px;
    
}
body {
    margin-top:auto;
    margin-left: 200px;
    margin-right:200px;
    background-color:lavender;
}
img {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 50px;
   
  
}
main{}
h3 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color:brown;
    text-align: center;
    font-size: 30px;
    margin-block-start: 0px;
}
.testo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:auto;
    text-align: justify;    
}
ul {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:auto;
    text-align: justify;
    display: inline-block;;
}
li::marker {
    color:brown;
    
  }
  h4 {font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color:brown;
    text-align: center;
    font-size: 30px;}
